@font-face {
    font-family: 'CalcFont';
    src: url('/fonts/Calculator.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --button-bg: 0.4;
    --button-bg-hover: 0.6;
    --button-bg-active: 0.8;
}

.calc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 80%;
    width: 60%;
    background: linear-gradient(to bottom, rgba(72, 83, 145, 0.1), rgba(99, 99, 99, 0.1));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding-bottom: 0.5rem;
}

.calcHeader {
    position: fixed;
    top: 0.5rem;
    width: 90%;
}

.calcScreen {
    font-family: 'CalcFont', sans-serif;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.65);
    padding: 0.2rem 1rem;
    border-radius: 10px;
    text-align: end;
}

.calcButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    
}

.calcButton {
    background: rgba(0, 0, 0, var(--button-bg));
    border-radius: 5px;
    width: 3rem;
    height: 3rem;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    transition: background 0.1s ease;
    margin: 0.1rem;
}

.calcButton:hover {
    background: rgba(0, 0, 0, var(--button-bg-hover));
}

.calcButton:active {
    background: rgba(0, 0, 0, var(--button-bg-active));
}
.calcButtonsRow{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.calcButtonZero{
    width: 6.2rem;
}

.calcButtonsRight{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.calcButtonsRight .calcButton{
    background: rgba(10, 15, 40, var(--button-bg));
}

.calcButtonsRight .calcButton:hover{
    background: rgba(10, 15, 40, var(--button-bg-hover));
}
.calcButtonsRight .calcButton:active{
    background: rgba(10, 15, 40, var(--button-bg-active));
}
.calcButtonEqual{
    grid-row: span 2;
    height: 6.2rem;
}

.calcButtonsRight .calcButtonC {
    background: rgba(40, 15, 10, var(--button-bg));
}
.calcButtonsRight .calcButtonC:hover {
    background: rgba(40, 15, 10, var(--button-bg-hover));
}
.calcButtonsRight .calcButtonC:active {
    background: rgba(40, 15, 10, var(--button-bg-active));
}

/* Media Queries para diseño responsive */

@media (max-width: 932px) and (orientation: landscape)  {

    .calcContainer {
        width: 71%;
        height: 75%;
    }
    
    .calcScreen {
        font-size: 1rem;
        padding: 0.1rem 0.8rem;
    }

    .calcButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    
}
    
    .calcButton  {
        border-radius: 3px;
        width: 1.4rem;
        height: 1.4rem;
        font-size: 1rem;
    }
    
    .calcButtonZero {
        width: 3rem;
    }
    
    .calcButtonEqual {
        height: 3rem;
    }
}

@media screen and (max-height: 719px) and (orientation: landscape) {

    .calcContainer {
        width: 90%;
        height: 75%;
    }

    .calcButton {
        border-radius: 3px;
        width: 2.5rem;
        height: 2.5em;
        font-size: 1rem;
    }
    
    .calcButtonZero {
        width: 5.2rem;
    }
    
    .calcButtonEqual {
        height: 5.2rem;
    }

}
/* Tablets */
@media (max-width: 768px) {
    .calcContainer {
        width: 71%;
        height: 75%;
    }
    
    .calcScreen {
        font-size: 1.8rem;
        padding: 0.1rem 0.8rem;
    }
    
    .calcButton {
        border-radius: 3px;
        width: 1.7rem;
        height: 1.7rem;
        font-size: 1rem;
    }
    
    .calcButtonZero {
        width: 3.6rem;
    }
    
    .calcButtonEqual {
        height: 3.6rem;
    }
}

/* Móviles */
@media (max-width: 480px) {
    .calcContainer {
        width: 71%;
        height: 75%;
    }
    
    .calcScreen {
        font-size: 1.8rem;
        padding: 0.1rem 0.8rem;
    }
    
    .calcButton {
        border-radius: 3px;
        width: 1.7rem;
        height: 1.7rem;
        font-size: 1rem;
    }
    
    .calcButtonZero {
        width: 3.6rem;
    }
    
    .calcButtonEqual {
        height: 3.6rem;
    }
}

/* Móviles pequeños */
@media (max-width: 320px) {
    .calcContainer {
        width: 95%;
        height: 65%;
    }
    
    .calcScreen {
        font-size: 1.3rem;
        padding: 0.15rem 0.6rem;
    }
    
    .calcButton {
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1rem;
        margin: 0.06rem;
    }
    
    .calcButtonZero {
        width: 3.72rem;
    }
    
    .calcButtonEqual {
        height: 3.72rem;
    }
}