.basicButton{
    border: 2px solid #fffa;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s ease-in-out;
}

.basicButton:hover{
    background-color: #fff3;;
}


@media screen and (max-height: 719px) and (orientation: landscape) {
    .basicButton{
        padding: 0.2rem 0.5rem;
        font-size: 0.7rem;
    }
}